body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    width: 100vw;
    height: 100vh;
}
html{
    font-family: sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button, a{
    padding: 20px 40px;
    font-size: 20px;
    color: rgb(155, 48, 168);
    background-color: #fff;
    cursor: pointer;
}
a{
    text-align: center;
}
.inner{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.block{
    width: 100px;
    height: 100px;
    background-color: #385;
}
.good{
    text-decoration: none;
    display: inline-block;
    margin-top: 50px;
}
.num{
    color: #fff;

    font-size: 50px;
}